<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/imgWeb/logo-icon.svg" type="image/svg+xml">
    <title>BS PERÚ | Nuestras Marcas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/loyout/loyout.css">
    <link rel="stylesheet" href="/assets/css/biografia/nuestras-marcas.css">
    
</head>

<body>
<a href="https://wa.me/51914776669" target="_blank" class="whatsapp-btn" title="WhatsApp">
        <i class="bi bi-whatsapp whatsapp-icon"></i>
</a>



    <!-- NAVBAR LAYOUT -->
    <div class="barrera-menu"></div>

    <!-- HERO -->
    <div class="hero">
        <div class="overlay">
            <h1>Calidad que Respaldan Grandes Marcas</h1>
            <p style="font-size: 1.2rem;">Trabajamos con soluciones profesionales para garantizar resultados duraderos</p>
        </div>
    </div>

    <!-- MARCAS -->
    <div class="container text-center section">
        <h2 style="color: #005587; font-weight: bold;">Marcas Asociadas</h2>
        <p class="text-muted">Colaboramos con marcas líderes en el sector construcción</p>

        <div class="row mt-4" style="display: flex; ">
            <div class="col-md-6">
                <div style="border: 3px solid yellow; border-radius: 10px; background: #fffffffa; padding: 15px;">
                <img src="/assets/imgWeb/marcasIMG/weber.png" class="brand-logo"  alt="Weber">
                <div> 
                <p>
                    Marca líder global en soluciones para la construcción, especializada en morteros, adhesivos e impermeabilización.
                    Su respaldo internacional garantiza productos de alta calidad y rendimiento.
                </p>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div style="border: 3px solid #005587; border-radius: 10px; background: #fffffffa; padding: 15px; height:100%;">
                <img src="/assets/imgWeb/marcasIMG/z aditivo.png" class="brand-logo" alt="Z Aditivos">
               <div> 
                <p>
                    Especialistas en químicos para concreto que mejoran la resistencia, durabilidad y trabajabilidad en obra,
                    permitiendo resultados más seguros y profesionales.
                </p>
               </div>
               </div>
            </div>
        </div>
    </div> 

    <!-- VALORES -->
    <div class="container text-center section bg-light">
        <h2 style="color: #005587; font-weight: bold;">¿Por qué trabajamos con estas marcas?</h2>

        <div class="row mt-4">
            <div class="col-md-3">
                <i class="bi bi-check-circle" style="color: #005587; font-size: 1.5rem;"></i><br>
                Calidad garantizada
            </div>
            <div class="col-md-3">
                <i class="bi bi-check-circle" style="color: #005587; font-size: 1.5rem;"></i><br>
                Mayor durabilidad
            </div>
            <div class="col-md-3">
                <i class="bi bi-check-circle" style="color: #005587; font-size: 1.5rem;"></i><br>
                Tecnología avanzada
            </div>
            <div class="col-md-3">
                <i class="bi bi-check-circle" style="color: #005587; font-size: 1.5rem;"></i><br>
                Resultados profesionales
            </div>
        </div>
    </div>

    <!-- GALERÍA -->
    <div class="container section">
        <h2 class="text-center" style="color: #005587; font-weight: bold;">Aplicación en Obra</h2>

        <div class="row gallery mt-4">
            <div class="col-md-4"><img src="/assets/img biografia/1.png" class="w-100"></div>
            <div class="col-md-4"><img src="/assets/img biografia/2.png" class="w-100"></div>
            <div class="col-md-4"><img src="/assets/img biografia/3.png" class="w-100"></div>
        </div>
    </div>

    <!-- VIDEOS -->
    <div class="container section">
        <h2 class="text-center" style="color: #005587; font-weight: bold;">Aplicaciones Reales</h2>

        <div id="videos" class="carousel slide mt-4">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <iframe width="100%" height="400"
                        src="https://www.youtube.com/embed/vyUJyHk3hwk" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="carousel-item">
                    <iframe width="100%" height="400"
                        src="https://www.youtube.com/embed/5suMjprA9Zo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe width="100%" height="400"
                        src="https://www.youtube.com/embed/9EKt2DMiqYw" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#videos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#videos" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
 



    <!-- FOOTER -->
    <footer class="text-white py-4" style="background:#022c45;">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-4 mb-4 mb-md-0 text-center text-md-start">
                    <img src="/assets/img principales/logo.png" alt="BS PERÚ Logo" class="mb-2" style="max-width:150px;">
                    <div>
                        <strong>RAZÓN SOCIAL:</strong> BUILDING SYSTEMS PERÚ S.A.C.<br>
                        <strong>RUC:</strong> 20609793806
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4 mb-md-0 text-center text-md-start">
                    <div class="fw-bold mb-2">Contáctanos</div>
                    <div>Teléfono: +51 914 776 669</div>
                    <div>Correo electrónico: bs.peru.marketing@bsperu.pe</div>
                </div>

                <div class="col-12 col-md-4 text-center text-md-start">
                    <div class="fw-bold mb-2">Servicio al cliente</div>
                    <a href="terminos-condiciones.html#aviso-legal" class="text-white d-block mb-1">Aviso Legal</a>
                    <a href="terminos-condiciones.html#politica-privacidad" class="text-white d-block mb-1">Política de Privacidad</a>
                    <a href="terminos-condiciones.html#terminos-condiciones-uso" class="text-white d-block mb-1">Términos y condiciones</a>
                    <a href="https://respondo.pe/libro/building-systems-peru-s-a-c" class="text-white d-block mb-3">Libro de reclamaciones</a>
                    <div>
                        <a href="https://www.instagram.com/bsp.peru/#" target="_blank" rel="noopener noreferrer" class="text-white me-2 fs-4"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.facebook.com/people/Bsperu/100090456091171/#" target="_blank" rel="noopener noreferrer" class="text-white me-2 fs-4"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.linkedin.com/company/bs-per%C3%BA/?viewAsMember=true" target="_blank" rel="noopener noreferrer" class="text-white fs-4"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.tiktok.com/@bs_peru?_t=ZS-90uDwonltem&_r=1" target="_blank" rel="noopener noreferrer" class="text-white fs-4" style="margin-left:10px;"><i class="bi bi-tiktok"></i></a>
                        <a href="https://www.youtube.com/@bsperu-BSP" target="_blank" rel="noopener noreferrer" class="text-white fs-4" style="margin-left:10px;"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>

            </div>
            <div class="text-center mt-4 small">
                &copy; B S PERÚ | Todos los derechos reservados.
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/loyout/loyout.js"></script>
    <script src="/assets/js/custom/whatsapp-draggable.js"></script>

<script src="/assets/js/utils/sanitize.js"></script></body>

</html>
