/* ===============================
   ESTILOS DE LA PÁGINA NUESTRAS MARCAS
   =============================== */

/* Fondo de la página */
body {
    background: linear-gradient(135deg, #e8f0ff 0%, #b8ceff 100%);
    font-family: 'Segoe UI', sans-serif;
}

/* HERO */
.hero {
    background: url('/assets/img\ biografia/nuestrasMarcas.png') center/cover;
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
}

/* SECCIONES */
.section {
    padding: 70px 20px;
}

.brand-logo {
    height: auto;
    object-fit: contain;
    margin: -13px;
}

.gallery img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
}

.section.bg-light {
    background-color: #f8f9fa !important;
}

.section.bg-dark {
    background-color: #212529 !important;
}

@media (max-width: 500px) {
    .col-md-6 {
        margin: 4px;
    }
}
